SOURCE_IMAGE=docker.io/library/nginx:latest
TARGET_IMAGE=registry.example.com/project/nginx:latest
TARGET_IMAGE_CRANE=registry.example.com/project/nginx-crane:latest

SOURCE_AUTHFILE=
TARGET_AUTHFILE=

COPY_ALL_ARCH=true
PLATFORM=linux/amd64

SKOPEO_EXTRA_ARGS=
CRANE_EXTRA_ARGS=

RESULT_DIR=worker-poc/results
